<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BLINYL Application</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Fredoka+One&family=Montserrat+Alternates&family=Press+Start+2P&family=Sacramento&family=Varela+Round&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BLINYL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Blind Boxes", "Index", "Toy")</li>                            
                            <li>@Html.ActionLink("Wishlists", "Index", "WishList")</li>
                            <li>@Html.ActionLink("Collector lists", "Index", "CollectorsToys")</li>
                        }
                    </ul>
                    <!--<a class="navbar-brand" href="~/Views/Home/Index.cshtml"><img src="~/Content/Images1/Blinyl_Fprpl.png" /></a>-->
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p style="font-size:small; color:deeppink; text-align:center;">&copy; @DateTime.Now.Year - BLINYL Collection Application</p>
            </footer>
        </div>        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
