@model Blinyl.Models.CollectorsToysDetail

<div class="jumbotron" style="background-color:black;">
    <div class="text-center">
        @{
            ViewBag.Title = "Details";
        }

        <h2 style="color:white;">.about this collection.</h2>
        <img src="~/Content/Images1/Blinyl_hrt.png"
             style="float: right; position:absolute; margin: 0 0 0 10em;" />
    </div>
    <div>
        <h4>@*CollectorsToysDetail*@</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CollectorsToysId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CollectorsToysId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CollectorsToysId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>