@model IEnumerable<Blinyl.Models.CollectorsToysList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="font-size: 2em; font-family:'Varela Round', sans-serif; color: #DAF7A6;">
        <th>
            @Html.DisplayNameFor(model => model.CollectorsToysId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CollectorsToysId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CollectorsToysId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CollectorsToysId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CollectorsToysId })
        </td>
    </tr>
}

</table>